.background {
    -fx-background-color: black;
}

.form-container {
    -fx-alignment: top-center;
    -fx-padding: 20;
}

.input, .combobox, .textarea, .button, .submit, .createFirstTestButton {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 8;
    -fx-cursor: hand;
}

.combo-box .list-view {
    -fx-background-color: maroon;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

.combo-box .list-cell {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.combo-box .list-cell:hover {
    -fx-background-color: darkred;
}

.checkbox {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-alignment: center;
}

.submit {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.createFirstTestButton {
    -fx-pref-width: 200;
    -fx-pref-height: 50;
}

.textarea {
    -fx-control-inner-background: maroon;
}

.input-list-view {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 8;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}

.input-list-view .list-cell {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.input-list-view .list-cell:hover {
    -fx-background-color: darkred;
}

.heading {
    -fx-font-size: 24px;
    -fx-fill: white;
    -fx-padding: 0 10 10 10;
    -fx-font-weight: bold;
}

.input-list-view .list-cell:selected {
    -fx-background-color: #6e0000;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.register-link {
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.input-list-view .list-cell {
    -fx-padding: 5;
    -fx-background-color: maroon;
    -fx-text-fill: white;
}

.explanation {
    -fx-font-size: 14px;
    -fx-fill: white;
}

.explanation-container {
    -fx-padding: 0 15 0 0;
}

.fileLabel {
    -fx-font-size: 14px;
    -fx-fill: white;
    -fx-padding: 10;
    -fx-font-weight: normal;
}

.custom-progress {
    -fx-progress-color: maroon;
    -fx-scale-x: 2.0;
    -fx-scale-y: 2.0;
}

.horizontal-menu {
    -fx-padding: 10;
    -fx-background-color: black;
    -fx-alignment: center;
}

.menu-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-border-width: 0 0 2;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-transition: all 0.2s;
}

.menu-button:hover {
    -fx-text-fill: maroon;
    -fx-border-color: maroon;
}

.menu-button-active {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-padding: 10 20;
    -fx-cursor: hand;
    -fx-border-width: 0 0 3;
    -fx-border-style: solid;
    -fx-transition: all 0.2s;
    -fx-text-fill: maroon;
    -fx-border-color: maroon;
    -fx-font-weight: bold;
}

.three-dots-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-radius: 15px;
    -fx-padding: 5 10;
    -fx-border-color: maroon;
    -fx-border-width: 1;
    -fx-border-radius: 15px;
}

.three-dots-button:hover {
    -fx-background-color: maroon;
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 2, 2);
}

.context-menu-item {
    -fx-background-radius: 10px;
}

.context-menu-item-top {
    -fx-background-radius: 0 10px 0 0;
}

.context-menu-item-bottom {
    -fx-background-radius: 0 0 10px 10px;
}

.context-menu-item-top,
.context-menu-item-bottom,
.context-menu-item {
    -fx-background-color: maroon;
    -fx-padding: 5;
    -fx-text-fill: white !important;
}

.context-menu-item-top:hover,
.context-menu-item-bottom:hover,
.context-menu-item:hover {
    -fx-background-color: darkred;
    -fx-cursor: hand;
}

.scroll-bar:vertical {
    -fx-background-color: maroon;
    -fx-padding: 5;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
}

.scroll-bar .thumb {
    -fx-background-color: #650000;
    -fx-background-radius: 10;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-background-color: white;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}

.createFirstTestButton {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 8;
    -fx-cursor: hand;
}