.background {
    -fx-background-color: black;
}

.form-container {
    -fx-alignment: center;
    -fx-padding: 20;
}

.input, .combobox, .textarea, .button, .submit {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-prompt-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 8;
    -fx-cursor: hand;
}

.combo-box .list-view {
    -fx-background-color: maroon;
    -fx-background-radius: 20;
    -fx-padding: 10;
}

.combo-box .list-cell {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.combo-box .list-cell:hover {
    -fx-background-color: darkred;
}

.checkbox {
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-padding: 5;
    -fx-alignment: center;
}

.submit {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.textarea {
    -fx-control-inner-background: maroon;
}

.input-list-view {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 8;
    -fx-cursor: hand;
    -fx-font-size: 16px;
}

.input-list-view .list-cell {
    -fx-background-color: maroon;
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.input-list-view .list-cell:hover {
    -fx-background-color: darkred;
}

.heading {
    -fx-font-size: 24px;
    -fx-fill: white;
    -fx-padding: 10;
    -fx-font-weight: bold;
}

.input-list-view .list-cell:selected {
    -fx-background-color: #6e0000;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 16px;
    -fx-fill: white;
    -fx-font-weight: bold;
}

.register-link {
    -fx-text-fill: white;
    -fx-underline: false;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.input-list-view .list-cell {
    -fx-padding: 5;
    -fx-background-color: maroon;
    -fx-text-fill: white;
}

.explanation {
    -fx-font-size: 14px;
    -fx-fill: white;
}

.explanation-container {
    -fx-padding: 0 15 0 0;
}

.fileLabel {
    -fx-font-size: 14px;
    -fx-fill: white;
    -fx-padding: 10;
    -fx-font-weight: normal;
}

.custom-progress {
    -fx-progress-color: maroon;
    -fx-scale-x: 2.0;
    -fx-scale-y: 2.0;
}