# Database configuration
DB_HOST=<your-database-host>
DB_URL=<your-database-url>
DB_USER=<your-database-user>
DB_PASSWORD=<your-database-password>
DB_NAME=<your-database-name>

# Application configuration
ADMIN_EMAIL=<default-admin-email>
ADMIN_PASSWORD=<default-admin-password>

MAX_QUESTIONS=25 # Preferably keep this number 25 or lower

# OpenAI configuration
OPENAI_API_URL=https://api.openai.com/v1/chat/completions # Keep this the same unless you need to
OPENAI_MODEL=<your-openai-model> # Current free model you can use: gpt-3.5-turbo (feel free to try different OpenAI models)
OPENAI_TEMPERATURE=0.7 # Preferably keep this number 0.7 (the higher the number, the higher the risk of AI hallucination)

# API Keys
OPENAI_API_KEY=<your-openai-api-key>