# Database configuration
DB_HOST=<your-database-host>
DB_URL=<your-database-url>
DB_USER=<your-database-user>
DB_PASSWORD=<your-database-password>
DB_NAME=<your-database-name>

# Application configuration
ADMIN_EMAIL=<default-admin-email>
ADMIN_PASSWORD=<default-admin-password>

MAX_QUESTIONS=25 # Keep this number 25 or lower to avoid AI hallucination

# OpenAI configuration
OPENAI_MODEL=<your-openai-model> # Current cheapest OpenAI model is the gpt-3.5-turbo (feel free to try different models)
OPENAI_API_KEY=<your-openai-api-key> # Get it from https://platform.openai.com/api-keys

OPENAI_API_URL=https://api.openai.com/v1/chat/completions # Keep this line the same unless you are using a different API
OPENAI_TEMPERATURE=0.7 # Preferably keep this number 0.7 (the higher the number, the higher the risk of incorrect information)
